<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>pp231 task page solution</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-dark bg-mynav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Задание 3.1.2 - SpringBoot version</a>
    </div>
  </nav>

  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight">
        <h2>Пользователи (из user)
      </div>
      <div class="p-2 bd-highlight">
        <a th:href="@{/home}" class="btn btn-secondary">К решению</a>
      </div>
    </div>

    <div>
      <p>
        CRUD приложение на SpringBoot вместо SpringMVC:
      </p>
    </div>

    <div>
      <ul>
        <li>
          <a href="https://github.com/vocxod/pp312" target="_blank">Перейти на GitHub задания.</a>
        </li>
      </ul>

      <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
      </th:block>
    </div>

  </div>

</body>

</html>
